@tailwind base;
@tailwind components;
@tailwind utilities;

.wave {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg); /* This flips the wave */
}

.wave svg {
  position: relative;
  display: block;
  width: 100%;
  height: 100px; /* Adjust this based on your design */
}

.wave .shape-fill {
  fill: #3b82f6; /* Blue fill color */
}
